body {
    background-color: #f8f9fa;
}

.navbar {
    border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
    font-weight: bold;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.button a {
    color: white;
  }

.button:hover {
    background-color: #a9cef5;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #71a9e4;
    border-color: #0062cc;
}
